.contactSection {
	position: relative;
	font-family: var(--font-montserrat);
	text-align: center;
	background: linear-gradient(
		to bottom,
		rgb(228, 243, 254) 0%,
		var(--color-secondary) 100%
	);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-xl);
	padding-bottom: var(--spacing-xl);
	padding: 60px 20px;
}

.contactSection h2 {
	font-family: var(--font-montserrat);
	font-size: 32px;
	line-height: 36px;
	font-weight: 400;
	text-align: center;
	color: var(--color-primary);
}

.contactSection h3 {
	font-family: var(--font-montserrat);
	font-size: 24px;
	line-height: 36px;
	font-weight: 400;
	text-align: center;
	color: var(--color-primary);
}

.contactForm {
	width: 100%;
	background: rgba(255, 255, 255, 0.45);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	padding: var(--spacing-l);
	display: flex;
	flex-direction: column;
	font-family: var(--font-montserrat);
	margin-top: var(--spacing-l);
	gap: var(--spacing-l);
}

.contactActions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: var(--spacing-l);
	margin-top: var(--spacing-l);
}

.contactItem {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-s);
}

.contactItem span {
	font-family: var(--font-montserrat);
	font-size: 16px;
	font-weight: 600;
	color: var(--color-primary);
}

.contactIcon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--color-primary);
	padding: var(--spacing-s);
	border-radius: 100%;
	aspect-ratio: 1/1;
	height: 24px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contactIcon svg {
	color: var(--color-secondary);
	display: flex;
	justify-content: center;
	align-items: center;
}

.formGroup {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.formGroup label {
	margin-bottom: 5px;
	font-weight: bold;
	color: var(--color-primary);
	font-size: 16px;
	font-family: var(--font-montserrat);
}

.formGroup span {
	color: var(--color-primary);
	font-size: 12px;
	font-family: var(--font-montserrat);
	margin-top: 5px;
}

.formContactMethod {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xxs);
}

.formContactMethod span {
	color: var(--color-primary);
	font-size: 16px;
	font-family: var(--font-montserrat);
	margin: 5px 0;
	font-weight: bold;
	text-align: left;
}

.formContactMethod label {
	font-weight: 500;
}

.formGroup input,
.formGroup textarea {
	padding: 10px;
	border: 1px solid; /* Complementary color */
	border-radius: 5px;
	font-size: 16px;
	background: var(--color-secondary); /* Light background color */
}

.submitButton {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: var(--color-primary); /* Complementary color */
	color: var(--color-secondary);
	font-family: var(--font-montserrat);
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-xs);
}

.submitIcon {
	font-size: 1rem;
}

.submitButton:hover {
	background-color: color-mix(
		in srgb,
		var(--color-primary) 70%,
		transparent
	); /* Complementary hover color */
}

.mapContainer {
	margin-top: 5px;
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
}

.contactHours {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: var(--spacing-s);
	margin-top: var(--spacing-l);
	width: 100%;
}

.hours {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: var(--spacing-s);
}

.hours b {
	font-weight: 500;
	color: var(--color-secondary);
}

@media (min-width: 768px) {
	.contactSection {
		display: grid;
		position: relative;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto auto;
		padding: 20px 94px;
		row-gap: 60px;
		grid-template-areas:
			'title title'
			'map contactDetails'
			'contactForm contactForm';
	}

	.contactSection > svg {
		grid-area: wave;
		width: 100vw;
		height: 100px;
		max-height: 100px;
		margin-top: -5px;
	}

	.contactSection h2 {
		grid-area: title;
		font-size: 40px;
		font-weight: 700;
	}

	.mapContainer {
		grid-area: map;
		width: 100%;
		height: 100%;
		justify-self: flex-end;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(13.5px);
		-webkit-backdrop-filter: blur(13.5px);
		border: 1px solid rgba(255, 255, 255, 0.18);
		margin-top: 0;
	}

	.contactActions {
		grid-area: contactDetails;
		background-color: rgb(161, 196, 253, 0.15);
		padding: var(--spacing-l);
		border-radius: 10px;
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		animation: boxShadow 2s infinite ease-in-out;
		backdrop-filter: blur(13.5px);
		-webkit-backdrop-filter: blur(13.5px);
		border: 1px solid rgba(255, 255, 255, 0.18);
		height: 100%;
		margin-top: 0;
	}

	.contactItem h4 {
		font-size: 18px;
		font-weight: 500;
	}

	.contactItem span:hover {
		text-decoration: underline;
	}

	.contactIcon {
		aspect-ratio: 1/1;
		height: 40px;
	}

	.contactHours {
		grid-area: contactHours;
		align-items: flex-start;
		color: var(--color-primary);
	}
	.contactHours b {
		color: var(--color-primary);
	}

	.hours {
		align-items: flex-start;
		border: unset;
		width: 100%;
		color: var(--color-primary);
	}

	.contactFormWrapper {
		grid-area: contactForm;
		align-self: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-top: var(--spacing-xxl);
		gap: var(--spacing-l);
	}

	.contactFormWrapper h3 {
		font-size: 32px;
		font-weight: 700;
		margin-bottom: var(--spacing-l);
	}

	.contactForm {
		width: 100%;
		max-width: 800px;
		gap: var(--spacing-xxl);
	}

	.contactTitle {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-s);
	}
	.contactTitle h3 {
		margin-bottom: 0;
	}
	.contactTitle p {
		max-width: 50vw;
		text-wrap: balance;
	}
}
