.contactSection {
	position: relative;
	font-family: var(--font-montserrat);
	text-align: center;
	background: linear-gradient(to top, #a1c4fd 0%, #c2e9fb 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-xl);
	svg {
		width: 100%;
		height: auto;
	}
}

.contactSection h2 {
	font-family: var(--font-montserrat);
	font-size: 32px;
	line-height: 36px;
	font-weight: 400;
	text-align: center;
	color: var(--color-primary);
	font-family: var(--font-montserrat);
}

.contactSection h3 {
	font-family: var(--font-montserrat);
	font-size: 24px;
	line-height: 36px;
	font-weight: 400;
	text-align: center;
	color: var(--color-primary);
	font-family: var(--font-montserrat);
}

.contactForm {
	max-width: 600px;
	background: rgba(255, 255, 255, 0.45);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	padding: var(--spacing-l);
}

.contactActions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: var(--spacing-xl);
	margin-top: var(--spacing-l);
}

.contactItem {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-s);

	span {
		font-family: var(--font-montserrat);
		font-size: 16px;
		font-weight: 600;
		text-decoration: underline;
		color: var(--color-primary);
	}
}

.contactIcon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--color-primary);
	padding: var(--spacing-m);
	border-radius: 100%;
	aspect-ratio: 1/1;
	height: 64px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contactIcon svg {
	height: 100%;
	color: var(--color-secondary);
	display: flex;
	justify-content: center;
	align-items: center;
}

.formGroup {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.formGroup label {
	margin-bottom: 5px;
	font-weight: bold;
	color: var(--color-primary); /* Complementary color */
}

.formGroup input,
.formGroup textarea {
	padding: 10px;
	border: px solid var(--color-primary); /* Complementary color */
	border-radius: 5px;
	font-size: 16px;
	background: var(--color-secondary); /* Light background color */
}

.formGroup input:focus,
.formGroup textarea:focus {
	border-color: #a6febe; /* Complementary focus color */
	outline: none;
}

.submitButton {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: var(--color-primary); /* Complementary color */
	color: var(--color-secondary);
	font-size: 16px;
	cursor: pointer;
}

.submitButton:hover {
	background-color: #a6febe; /* Complementary hover color */
}

.mapContainer {
	margin-top: 5px;
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
}

.hours {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-s);
	margin-top: var(--spacing-l);
	font-weight: 700;
	color: var(--color-primary);
	b {
		font-weight: 500;
		color: var(--color-primary);
	}
	p:last-child {
		color: rgb(160, 1, 1);
		font-weight: 700; /* Example style for the last child */
	}
}
