.root {
	padding: 48px 24px;
	/* background: linear-gradient(
		to top left,
		lab(72.9% -7.6 -34.5),
		lab(79.8% -6.8 -24.2),
		lab(85.3% -6.2 -15.5),
		lab(90.2% -5.6 -7.5),
		lab(94.8% -2.1 0.5)
	); */
	width: 100%;
	height: 150svh;
	display: grid;
	grid-template-rows: 50svh 50svh 20svh;
	grid-template-columns: 1fr;
	grid-template-areas:
		'logo'
		'hero'
		'callToAction';
	justify-items: center;
	gap: 20px;
	scroll-snap-align: start;
	position: relative;
	scroll-snap-stop: always;
}

.callToAction {
	grid-area: callToAction;
	align-self: flex-start;
	scroll-snap-align: end;
	scroll-snap-stop: always;
	scroll-margin: 20svh;
}

.landingText {
	grid-area: hero;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.logo > svg {
	margin-left: 18px;
	width: 65svw;
}
.logo {
	grid-area: logo;
	position: sticky;
	top: 48px;
	z-index: 1;
	display: flex;
	justify-content: center;
}

.root h1,
.root h2 {
	text-align: center;
	max-width: 500px;
}

.root h1 {
	font-family: var(--font-alpha-slab-one);
	font-size: 64px;
	letter-spacing: 2px;
	color: #395e7c;
}

.root h2 {
	font-family: var(--font-montserrat);
	font-size: 32px;
	line-height: 36px;
	font-weight: 400;
}

@keyframes underlines {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

.highlightText {
	color: #395e7c;
	font-weight: 900;
	position: relative;
	display: inline-block;
}

.callToAction .highlightText::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background: #395e7c;
	transform: scaleX(0);
	transform-origin: left;
	animation: underlines 2s ease-in-out forwards;
}

@keyframes underlines {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}

@media screen and (max-width: 768px) {
	.root h1 {
		font-size: 42px;
		line-height: 48px;
	}

	.root h2 {
		font-size: 24px;
		line-height: 28px;
	}
}
